a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  height: 100% !important;
  max-height: 100% !important;
}

.shad {
  box-shadow: px 4px 15px #000000f2;
}
.navlinks {
  font-size: 16px;
  transition: 0.5s;
  width: 220px;
  border-radius: 3px;
  &:hover {
    box-shadow: 1px 2px 100px black;
    border-radius: 3px;
    font-size: 17px;
  }
}

.firstbtn {
  background-color: #171010;
  color: aliceblue;
  border-radius: 5px;
  padding: 6px;
  letter-spacing: 1px;
  transition: 0.3s;
  box-shadow: 1px 4px 100px black;
  &:hover {
    background-color: white;
    color: #171010;
  }
}

.Sarbini {
  & h1 {
    margin-top: 200px;
    margin-bottom: 30px;
    font-size: 100px;
  }
  & .img-boutique {
    border-radius: 10px;
    margin-bottom: 100px;
    width: 735px;
    height: 552px;
  }
}
